.navbarContainer {
  width: 100%;
}

.navbar {
  align-items: center;
  padding: 0px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  /* background-color: rgb(142, 142, 255,0.4); */
}

.navbarLogo {
  width: 120px;
}

.logoLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktopNavbarLinks {
  color: var(--primary-color-1);
}

.mobileNavbarLinks {
  display: none;
}

.desktopNavbarLinks ul {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 16px;
  margin-left: 10px;
}

.desktopNavbarLinks ul li a {
  text-decoration: none;
  color: var(--primary-color-1);
  transition: border-color 2s ease-in-out;
  
}

.desktopNavbarLinks ul li p:hover {
  cursor: pointer;
  color: var(--primary-color-2-light);
  border-bottom: 1px solid;

}

.navbarBtns {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}


.navbarBtns button {
  padding: 10px 30px;
  border-radius: 6px;
  /* border: none; */
}

.loginBtn {
  font-size: 14px;
  font-weight: 600;
  background: none;
  color: var(--primary-color-2);
  cursor: pointer;
  border: 1px solid var(--primary-color-2);
  font-family: poppins;

}
.loginBtn:hover {
  background-color: var(--primary-color-2-light);
  color: white;
  border-color: var(--primary-color-2-light);
}

.signupBtn {
  font-size: 14px;
  cursor: pointer;
  background: var(--primary-color-2);
  color: #fff;
  border: 1px solid var(--primary-color-2);
  font-family: poppins;

}

.signupBtn:hover {
  background: var(--primary-color-2-light);
}
.userInfo {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 950px) {
  .navbarLogo {
    width: 100px;
  }

  .navbarBtns button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .desktopNavbarLinks ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .navbarLogo {
    width: 80px;
  }

  .desktopNavbarLinks {
    display: none;
  }

  .signupBtn {
    font-size: 12px;
    font-weight: 400;
  }

  .mobileNavbarLinks {
    display: flex;
    color: var(--primary-color-1);
    justify-content: center;
    margin: 20px 0px;
  }

  .mobileNavbarLinks ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
  }

  .mobileNavbarLinks ul li a {
    text-decoration: none;
    color: var(--primary-color-1);
  }

  .navbarContainer {
    padding: 0px 0px;
    width: 100vw;
  }

  .navbar {
    padding: 0px;
  }
}

ul li p {
  cursor: pointer;
}
