.bubble {
  font-family: poppins;
  display: inline-flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 4px 10px;
  border-radius: 50px;
  margin: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.saved {
  border: 1px solid #444;
}
.selected {
  border: 1px solid #1c8090;
}
.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}