.listing {
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
}
.inputs {
    width: 35%;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-family: poppins;
}
.textInput {
    background-color: #deecef;

}
.keywordsInput {
    background-color: #deecef;
    /* height: 150px; */
    resize: none;
}
.applyBtn {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    background-color: #1c8090;
    color: white;   
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 14px;
}
.applyBtn:hover{
    background-color: #29c0d7;
}

.outputs {
    width: 55%;
    height: 70vh;
    overflow-y: scroll;
    margin-right: 2rem;
}
.output {
    background-color: #deecef;
    border-radius: 10px;
    padding: 15px 12px;
    margin-bottom: 1rem;
}
.outputHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}
.outputHeading p {
    margin: 0;
    font-size: 14px;
}

.outputHeading + grammarly-editor-plugin textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
    font-family: poppins;
    resize: vertical;
}
.copy{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}